<form #form="ngForm">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" #nameVerify="ngModel" required />
    <span *ngIf="nameVerify.invalid">Name is reequired</span>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" #emailVerify="ngModel" required email />
    <span *ngIf="emailVerify.invalid">Email is reequired</span>
  </div>
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>