<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Ticket List</h3>
      </div>
      <div class="box-body">
        <div class="form-group" *ngIf="shared.user.profile == 'TECHNICIAN'">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="assignedToMe" name="assignedToMe" [(ngModel)]="assignedToMe">
              <b>Assigned to me</b>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputNumber" class="col-sm-2 control-label">Number</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNumber" name="number" [(ngModel)]="ticketFilter.number">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTitle" class="col-sm-2 control-label">Title</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitle" name="title" [(ngModel)]="ticketFilter.title">
          </div>
        </div>
        <div class="form-group">
          <label for="inputStatus" class="col-sm-2 control-label">Status</label>

          <div class="col-sm-10">
            <select class="form-control" id="inputStatus" name="status" [(ngModel)]="ticketFilter.status" style="width: 100%">
              <option>NEW</option>
              <option>RESOLVED</option>
              <option>APPROVED</option>
              <option>DISAPPROVED</option>
              <option>ASSIGNED</option>
              <option>CLOSED</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPriority" class="col-sm-2 control-label">Priority</label>

          <div class="col-sm-10">
            <select class="form-control" id="inputPriority" name="priority" [(ngModel)]="ticketFilter.priority" style="width: 100%">
              <option>HIGH</option>
              <option>NORMAL</option>
              <option>LOW</option>
            </select>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-info pull-right" (click)="cleanFilter()">Clean filter</button>
        <button style="margin-left:10px" class="btn btn-info pull-right" (click)="filter()">Filter</button>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Number</th>
              <th>Title</th>
              <th>Priority</th>
              <th>Status</th>
              <th>Owner</th>
              <th style="width: 10px" *ngIf="shared.user.profile == 'CUSTOMER'">&nbsp;</th>
              <th style="width: 10px" *ngIf="shared.user.profile == 'CUSTOMER'">&nbsp;</th>
              <th style="width: 10px">&nbsp;</th>
            </tr>
            <tr *ngFor="let ticket of listTicket">
              <td>{{ ticket.number }}</td>
              <td>{{ ticket.title }}</td>
              <td>{{ ticket.priority }}</td>
              <td>{{ ticket.status }}</td>
              <td>{{ ticket.user.email }}</td>
              <td *ngIf="shared.user.profile == 'CUSTOMER'">
                <button class="btn btn-primary" (click)="edit(ticket.id)">Edit</button>
              </td>
              <td *ngIf="shared.user.profile == 'CUSTOMER'">
                <button class="btn btn-danger" (click)="delete(ticket.id)">Delete</button>
              </td>
              <td>
                <button class="btn btn-success" (click)="detail(ticket.id)">Detail</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#" (click)="setPreviousPage($event)">&laquo;</a></li>
          <li *ngFor="let p of pages; let i = index">
            <a href="#" (click)="setPage(i, $event)" [ngClass]="{'pagination-focus': i == page}">{{ i + 1 }}</a>
          </li>
          <li><a href="#" (click)="setNextPage($event)">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>